@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* utility */

.container{
    max-width: 96%;
    margin-inline: 40px;
    padding-inline: 40px;
}

.flex{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* navbar */

.navbar-section{
    background-color: rgb(252, 252, 252);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

.navbar-container{
    padding-block: 10px;
}

.navbar-flex{
    justify-content: space-between;
    align-items: center;
}

.navbar-flex img{
    width: 75px;
    border: 2px solid black;
}

.navbar-links{
    gap: 35px;
}

.navbar-link{
    font-size: 20px;
    padding: 20px;
    color: black;
}

.navbar-link.active{
    background-color: black;
    color: white;
}

.navbar-link:hover{
    border: 2px solid black;
}

.navbar-search{
    gap: 5px;
}

.navbar-input{
    height: 40px;
    width: 200px;
    border: solid 2px black;
    padding-inline: 10px;
    font-size: 15px;
}

.navbar-button{
    cursor: pointer;
    width: 100px;
    border: none;
    background-color: black;
    color: white;
    font-size: 17px;
    transition: 0.2s ease;
}

.navbar-button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(42, 42, 42);
}

/* main section */

.main-section{
    padding-top: 150px;
    min-height: 1600px;
    background: rgb(227,250,255);
    background: linear-gradient(319deg, rgba(227,250,255,1) 0%, rgba(255,255,255,1) 100%);
}

.days-7{
    background: rgb(0,62,75);
    background: linear-gradient(356deg, rgba(0,62,75,1) 71%, rgba(0,0,0,1) 100%);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px;
}

.items-container{
    margin-top: 30px;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.weather-item{
    padding: 20px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    flex-basis: 27%;
    flex-wrap: wrap;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 10px 10px;
    box-shadow: 1px 1px silver;
}

.weather-item img{
    width: 200px;
}

.weather-data{
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.weather-head{
    text-align: center;
}

.cur-time{
    gap: 10px;
}

.weather-wind{
    gap: 10px;
}

.weather-prec{
    gap: 10px;
}

.max-weather{
    gap: 10px;
}

.min-weather{
    gap: 10px;
}

/* footer */

.footer-section{
    background-color: #000000;
}

.footer-container{
    flex-direction: column;
    padding-block: 20px;
    align-items: center;
    gap: 15px;
}

.images{
    gap: 20px;
}

.images img{
    width: 75px;
}

.footer-container h5{
    color: white;
}